.scrollbar-none::-webkit-scrollbar {
    /* @apply scrollbar-none; */
    display: none; /* Hide scrollbar for Webkit browsers */
}

.scrollbar-none {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
